body{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url("loginbg.png");
        background-size: 100% 100%;

    }
    .container{
        font-family: sans-serif;
        width: 300px;
        height: 470px;
        padding: 50px;
        padding-top: 30px;
        border-radius: 5%;
        background-color: rgba(0, 0, 0, 0.699) ;
        color: aliceblue;
        box-shadow: 0 0 50px black;
    }
    .container h1{
        text-align: center;
    }
    .label{
        font-size: 20px;
    }
    .input{
        width: 292px;
        margin-top: 10px;
        margin-bottom: 30px;
        height: 35px;
        font-size: medium;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        color: aliceblue;
        border: 0;
    }
    .input:hover{
        background-color: rgba(102, 3, 3, 0.589);
    }
    .btn{
        margin: 0 auto;
        display: block;
        text-align: center;
        width: 150px;
        padding: 10px;
        font-size: medium;
        background-color: rgb(133, 2, 2);
        color: aliceblue;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 10px;
        border: none;
        height: 40px;
    }
    .btn:hover{
        background-color: rgba(145, 4, 4, 0.658);
        transition-duration: 250ms;
        width: 160px;
        cursor: pointer;
    }
    .btn:active{
        background-color: rgba(223, 92, 4, 0.856);
    }
    h4{
        text-align: center;
        color: aliceblue;
        margin: 10px;
    }
    a{
        text-decoration: none;
        color: rgb(255, 230, 0);
    }
    a:hover{
        color: rgb(248, 152, 8);
        margin-bottom: 0;
    }
    #result{
        color: rgb(255, 217, 0);
    }