body{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url("newaccbg.jpg");
        background-size: 100% 100%;
    }
    .container{
        font-family: sans-serif;
        width: 300px;
        height: 470px;
        padding: 50px;
        border-radius: 5%;
        background-color: rgba(0, 0, 0, 0.699) ;
        color: aliceblue;
        box-shadow: 0 0 50px black;

    }
    .container h1{
        text-align: center;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .input{
        width: 292px;
        margin-top: 10px;
        margin-bottom: 30px;
        height: 35px;
        font-size: medium;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.699) ;
        color: aliceblue;
        border: 0;
    }
    .input:hover{
        background-color: rgba(102, 3, 3, 0.589);
    }
    button{
        width: 150px;
        display: block;
        margin:auto auto auto auto;
        text-align: center;
        font-size: large;
        padding: 10px;
        border-radius: 10px;
        border: none;
        background-color: rgb(133, 2, 2);
        color: aliceblue;
    }
    button:hover{
        background-color: rgba(145, 4, 4, 0.658);
        transition-duration: 250ms;
        width: 160px;
        cursor: pointer;
        text-decoration: none;
    }
    button:active{
        background-color: rgba(223, 92, 4, 0.856);
    }
    a{
        text-decoration: none;
    }